<IfModule mod_rewrite.c>
RewriteEngine on

  # REWRITE TO HTTPS IF /user 
  RewriteCond $0 ^user
  RewriteCond %{SERVER_PORT} ^80$
  RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L]

  # REWRITE TO HTTPS IF /user 
  RewriteCond $0 ^sql
  RewriteCond %{SERVER_PORT} ^80$
  RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L]
  
  # REWRITE TO HTTP IF HTTPS AND blog
  RewriteCond %{SERVER_PORT} 443
  RewriteCond $0 ^blog
  RewriteRule ^(.*)$ http://%{SERVER_NAME}%{REQUEST_URI} [L]
  
 # REWRITE TO HTTP IF HTTPS AND games 
  RewriteCond %{SERVER_PORT} 443
  RewriteCond $0 ^games
  RewriteRule ^(.*)$ http://%{SERVER_NAME}%{REQUEST_URI} [L]

  # REWRITE TO HTTP IF HTTPS AND about 
  RewriteCond %{SERVER_PORT} 443
  RewriteCond $0 ^about
  RewriteRule ^(.*)$ http://%{SERVER_NAME}%{REQUEST_URI} [L]

  # REWRITE TO HTTP IF HTTPS AND root 
  RewriteCond %{SERVER_PORT} 443
  RewriteCond %{HTTP_HOST} svenardo\.com [NC]
  RewriteCond %{REQUEST_URI} ^/$
  RewriteRule ^(.*)$ http://%{SERVER_NAME} [L]

  # ZEND FRAMEWORK 2 RULES
  RewriteCond %{HTTP_HOST} ^$uri\.$tld$ [NC]
  RewriteRule ^(.*)$ http://www.$domain$1 [L,R=301]
  RewriteCond %{REQUEST_FILENAME} -s [OR]
  RewriteCond %{REQUEST_FILENAME} -l [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^.*$ - [NC,L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^.*$ index.php [NC,L]

</IfModule>