a {
    color: #3d2b1f;
}

.sidecon {
    color: #3d2b1f;
}

.arrow-left {
    border-right:10px solid #3d2b1f !important;
    *border-right: none;
}

.page_title {
    color: #3d2b1f;
}

#bottom_column { 
    background: #3d2b1f;
}

#bottom_icon {
    background: url("../../images/icons/crystal-project/256x256/apps/bug.png") no-repeat;
    height: 256px;
    width: 256px;
}
