
{% block title %}
{{ headTitle('Games - ') }}
{% endblock %}








<ul id="js-news" class="js-hidden">
    <li class="news-item"><a href="#">Licensing now available.</a></li>
    <li class="news-item"><a href="#">SHMUP: 8-bit carnage</a></li>
    <li class="news-item"><a href="#">This is the 3rd latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 4th latest news item.</a></li>
</ul>

<div class="white">
<div class="span7">
   <div class="slider-wrapper theme-bar">
            <div id="slider" class="nivoSlider">
                <img src="/delete/toystory4.jpg" data-thumb="/delete/toystory4.jpg" alt="" />
                <a href="http://dev7studios.com"><img src="/delete/up4.jpg" data-thumb="/delete/up4.jpg" alt="" title="This is an example of a caption" /></a>
                <img src="/delete/walle4.jpg" data-thumb="/delete/walle4.jpg" alt="" data-transition="slideInLeft" />
                <img src="/delete/nemo4.jpg" data-thumb="/delete/nemo4.jpg" alt="" title="#htmlcaption" />
            </div>
            <div id="htmlcaption" class="nivo-html-caption">
                <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>. 
            </div>
        </div>
		</center>
</div>
<div id="rightbar">
</div>


<div class="span11"></div>


      <div class="span7">

<div class="navbar navbar">
      <div class="navbar-inner">
        <div class="navbar-container">
              
            <ul class="nav gamenav">
            		<li id="1"><a href="#latestgames">LATEST GAMES</a></li>
					<li id="2"><a href="#mostpopular">MOST POPULAR</a></li>
					<li id="3"><a href="#randomgames">RANDOM GAMES</a></li>
            </ul>
        </div>
      </div>
    </div>

{% for i in 1..3 %}

<div class="one-third menulink" id="game{{i}}">
<h5>Alpha Force</h5> 
<img src="/thumb.php?src=/images/alphaforce.png" class="gamethumb">
<span class="gametext">
Fight the aliens in this modern shoot 'em up.
</span>
</div>

{% endfor %}

</div>





<!--



<div class="row">
<div class="span11">

<h2>Pop the balloons!</h2>
  <p><span class="label label-important">pop pop</span></p>
        <p>
<img src="thumb.php?src=/images/iconpop.png&h=100&w=100" class="img-polaroid pull-right">
This is a simple arcade game where the objective is to pop as many balloons as you can. 
Don't hurt the birds though.
</p>
        <a class="btn btn-success" href="http://play.svenardo.com/balloonpop/" target="_self">Play Pop the balloons! &raquo;</a></p>
    </div>
</div>




<div class="row">
<div class="span11">

<h2>Alpha Force</h2>
  <p><span class="label label-important">shmup</span></p>
        <p>
<img src="thumb.php?src=/images/alphaforce.png&h=100&w=100" class="img-polaroid pull-right">
The earth is under attack - again! You're the head of the class, the only one who can save the day. You are the Alpha Force -- and it's time to take out the trash!
<br/><a href="http://www.svenardo.com/blog/view/12">Read about the making of here</a>
</p>
        <a class="btn btn-success" href="http://play.svenardo.com/alphaforce/" target="_self">Play Alpha Force &raquo;</a></p>
    </div>
</div>


<div class="row">
<div class="span11">

<h2>Pacman: Doctor WHO edition</h2>
  <p><span class="label label-important">doctor who!</span></p>
        <p>
<img src="thumb.php?src=/images/whopac.png&h=100&w=100" class="img-polaroid pull-right">
Pick up pellets and get chased by Daleks in a Tardis shaped maze!
</p>

        <a class="btn btn-success" href="http://play.svenardo.com/whopac/" target="_self">Play Pacman: Doctor WHO edition &raquo;</a></p>
    </div>
</div>




<div class="row">

    <div class="span11">

        <h2>Jetman jr</h2>
        
        <p><span class="label label-important">arcade</span></p>
        <p>
<img src="thumb.php?src=/images/jetmanjr_small.png&w=100" class="img-polaroid pull-right">
Jetman jr! Use your jetpack to explore caverns! Destroy your enemies with lasers and dynamites. Your mission: to rescue the miners that got lost exploring the caverns looking for treasure. 
        </p>

        <a class="btn btn-success" href="http://play.svenardo.com/jetmanjr/" target="_self">Play Jetman jr &raquo;</a></p>
    </div>
</div>
<div class="row">

<div class="span11">

        <h2>Pacman</h2>
        
        <p><span class="label label-important">arcade</span></p>
        <p>
<img src="thumb.php?src=/images/pacs.png&w=100" class="img-polaroid pull-right">
The classic! The aim was to make a graphically accurate clone of the original Pacman. Wacka wacka. 
        </p>

        <a class="btn btn-success" href="http://play.svenardo.com/pacman/" target="_self">Play Pacman &raquo;</a></p>
    </div>

</div>
<div class="row">

<div class="span11">

        <h2>Tic-Tac-Toe</h2>

        <p><span class="label label-important">puzzle</span></p>
        <p>
<img src="thumb.php?src=/images/tictactoe.png&w=100" class="img-polaroid pull-right">
Play a simple game of Tic-Tac-Toe against the computer. Made with plain JS and jQuery in DOM.        
</p>

        <a class="btn btn-success" href="http://play.svenardo.com/tictactoe/" target="_self">Play Tic-Tac-Toe &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="span11">

        <h2>Aliens from outer space!</h2>

        <p><span class="label label-important">arcade</span></p>
        <p>
<img src="thumb.php?src=/images/scaliens.png&w=100" class="img-polaroid pull-right">
Made for 48 hours game compo <strong>Ludum Dare 25</strong>. Theme: You are the villain. 
</p>

        <a class="btn btn-success" href="http://play.svenardo.com/outerspace/" target="_self">Play Aliens from outer space! &raquo;</a></p>
    </div>

</div>

-->

<div id="orientation">

</div>

<div class="hidden" id="rightbarcontent">
<h3>This is the arcade</h3>
bear with
</div>

