
{% block title %}
{{ headTitle('Games - ') }}
{% endblock %}

<div class="row">

    <div class="span6">

        <h2>Jetman jr</h2>
        
        <p><span class="label label-important">arcade</span></p>
        <p>
<img src="thumb.php?src=/images/jetmanjr_small.png&w=100" class="img-polaroid pull-right">
Jetman jr! Use your jetpack to explore caverns! Destroy your enemies with lasers and dynamites. Your mission: to rescue the miners that got lost exploring the caverns looking for treasure. 
        </p>

        <a class="btn btn-success" href="http://play.svenardo.com/jetmanjr/" target="_self">Play Jetman jr &raquo;</a></p>
    </div>

<div class="span6">

        <h2>Pacman</h2>
        
        <p><span class="label label-important">arcade</span></p>
        <p>
<img src="thumb.php?src=/images/pacs.png&w=100" class="img-polaroid pull-right">
The classic! Wacka wacka. The aim was to make a graphically accurate clone of the original Pacman.
        </p>

        <a class="btn btn-success" href="http://play.svenardo.com/pacman/" target="_self">Play Jetman jr &raquo;</a></p>
    </div>




</div>                                                                                                                                                          
