
{% block title %}
{{ headTitle('Games - ') }}
{% endblock %}

<div class="row">

    <div class="span6">

        <h2>Jetman jr</h2>
        
        <p><span class="label label-important">arcade</span></p>
        <p>
<img src="thumb.php?src=/images/jetmanjr_small.png&w=100" class="img-polaroid pull-right">
Jetman jr! Use your jetpack to explore caverns! Destroy your enemies with lasers and dynamites. Your mission: to rescue the miners that got lost exploring the caverns looking for treasure. 
        </p>

        <a class="btn btn-success" href="http://play.svenardo.com/jetmanjr/" target="_self">Play Jetman jr &raquo;</a></p>
    </div>

<div class="span6">

        <h2>Pacman</h2>
        
        <p><span class="label label-important">arcade</span></p>
        <p>
<img src="thumb.php?src=/images/pacs.png&w=100" class="img-polaroid pull-right">
The classic! The aim was to make a graphically accurate clone of the original Pacman. Wacka wacka. 
        </p>

        <a class="btn btn-success" href="http://play.svenardo.com/pacman/" target="_self">Play Pacman &raquo;</a></p>
    </div>

</div>
<div class="row">

<div class="span6">

        <h2>Tic-Tac-Toe</h2>

        <p><span class="label label-important">puzzle</span></p>
        <p>
<img src="thumb.php?src=/images/tictactoe.png&w=100" class="img-polaroid pull-right">
Play a simple game of Tic-Tac-Toe against the computer. Made with plain JS and jQuery in DOM.        
</p>

        <a class="btn btn-success" href="http://play.svenardo.com/tictactoe/" target="_self">Play Tic-Tac-Toe &raquo;</a></p>
    </div>

    <div class="span6">

        <h2>Aliens from outer space!</h2>

        <p><span class="label label-important">arcade</span></p>
        <p>
<img src="thumb.php?src=/images/scaliens.png&w=100" class="img-polaroid pull-right">
Made for 48 hours game compo <strong>Ludum Dare 25</strong>. Theme: You are the villain. 
</p>

        <a class="btn btn-success" href="http://play.svenardo.com/outerspace/" target="_self">Play Aliens from outer space! &raquo;</a></p>
    </div>

</div>


<div class="row">
<div class="span6">

<h2>Pacman: Doctor WHO edition</h2>
  <p><span class="label label-important">arcade</span></p>
        <p>
<img src="thumb.php?src=/images/whopac.png&h=100&w=100" class="img-polaroid pull-right">
Pick up pellets and get chased by Daleks in a Tardis shaped maze!
</p>

        <a class="btn btn-success" href="http://play.svenardo.com/whopac/" target="_self">Play Pacman: Doctor WHO edition &raquo;</a></p>
    </div>
</div>

<div id="row">
<div class="span12">

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'svenardo'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    

</div>

</div>                                                                                                                                                          
