
<span class="mask-overlay"></span>

<div class="container">
    <div class="row">

        <!-- homepage intro -->
        <section class="intro col-lg-12">

            <!-- homepage logo - write your site name -->
            <h1 class="intro-brand animate" data-animate="bounceInDown">Svenardo.com</h1>

            <!-- homepage slogan - write a cool slogan -->

            <div id="store-buttons" class="animated bounceIn tada">
                <h1 class="animate" data-animate="bounceIn">Games</h1>
                <h4 class="animate" data-animate="fadeInUp">for iPhone, iPod and iPad</h4>
                <!--                <div class="appstore-button"><a href="https://itunes.apple.com/us/app/rocketdoge/id813052886?l=nb&mt=8"><img src="images/appstore-download-btn.png" alt="appstore" /></a></div>-->
                <!--	<div class="playstore-button"><a href="#"><img src="images/playstore-download-btn.png" alt="playstore"/></a></div> -->
            </div>


            <!-- homepage button links -->
            <!--				<ul class="list-inline">
                                    <li class="animate" data-animate="fadeInLeft"><a href="" class="btn btn-default btn-lg bg-filler">Download the app</a></li>
                                    <li class="animate" data-animate="fadeInRight"><a href="#" class="btn btn-default btn-lg light">Discover Svenardo.com</a></li>
                            </ul>
                -->
        </section> <!-- end homepage intro -->
    </div>
</div>



</div>


