<section class="wrapper">
    <div class="container">




        <!-- features section -->
        <section id="features" class="features row nav-link">



            <!-- features list - left side -->
            <div class="features-wrapper col-md-3 col-sm-3 text-right animate" data-animate="bounceInLeft">

                <!-- feature 1 -->
                <div class="features-desc">

                    <!-- feature 1 icon -->
                    <figure class="fa fa-lightbulb-o"></figure>

                    <!-- feature 1 description -->
                    <h4>Fast-paced Action</h4>
                    <p>There are no dull moments in Rocket Doge. </p>
                </div>

                <!-- feature 2 -->
                <div class="features-desc">

                    <!-- feature 2 icon -->
                    <figure class="fa fa-comments"></figure>

                    <!-- feature 2 description -->
                    <h4>For smartphone and tablet</h4>
                    <p>Everybody can join in on the action, from iPod and iPhone users to everyone with an iPad.</p>
                </div>

                <!-- feature 3 -->
                <div class="features-desc">

                    <!-- feature 3 icon -->
                    <figure class="fa fa-magic"></figure>

                    <!-- feature 3 description -->
                    <h4>Beautiful graphics</h4>
                    <p>Clouds whizz by in parallax movement, and everything moves and rotates</p>
                </div>
            </div> <!-- end features list - left side -->

            <!-- features image -->
            <figure class="col-md-6 col-sm-6 animate" data-animate="bounceIn">
                <img src="/images/dogefeat.png" class="img-responsive" alt="" title="">
            </figure>

            <!-- features list - right side -->
            <div class="features-wrapper col-md-3 col-sm-3 animate" data-animate="bounceInRight">

                <!-- feature 1 -->
                <div class="features-desc">

                    <!-- feature 1 icon -->
                    <figure class="fa fa-edit"></figure>

                    <!-- feature 1 description -->
                    <h4>Game Center supported</h4>
                    <p>Measure your prowess against the online community</p>
                </div>

                <!-- feature 2 -->
                <div class="features-desc">

                    <!-- feature 2 icon -->
                    <figure class="fa fa-star"></figure>

                    <!-- feature 2 description -->
                    <h4>Parallax effect &amp; CSS3 animations</h4>
                    <p>Much animated. Such Parallax. </p>
                </div>

                <!-- feature 3 -->
                <div class="features-desc">

                    <!-- feature 3 icon -->
                    <figure class="fa fa-anchor"></figure>

                    <!-- feature 3 description -->
                    <h4>Physics based</h4>
                    <p>Doge is a prisoner to gravity. Much fun.</p>
                </div>
            </div> <!-- end features list - right side -->



        </section> <!-- end features section -->




        <!-- screenshots section -->
        <section id="screenshots" class="screenshots row nav-link">

            <!-- heading - write some descriptional text -->
            <div class="heading col-lg-12">


                <span>Some screenshots</span>


            </div>

            <!-- screenshots grid row 1 -->
            <div class="screenshots-row animate" data-animate="bounceInLeft">

                <!-- image 1 -->
                <figure>

                    <img src="/images/screenshots/doge/img1.png" alt="" title="">
														
														<span class="figure-mask">
																<a href="images/screenshots/img1-big.png" rel="prettyPhoto[shots]" title=""><span>view</span></a>
														</span>
                </figure> <!-- end image 1 -->

                <!-- image 2 -->
                <figure>

                    <img src="/images/screenshots/doge/img2.png" alt="" title="">
														
														<span class="figure-mask">
																<a href="images/screenshots/img2-big.png" rel="prettyPhoto[shots]" title="You can add caption to shots"><span>view</span></a>
														</span>
                </figure> <!-- end image 2 -->

                <!-- image 3 -->
                <figure>

                    <img src="/images/screenshots/doge/img3.png" alt="" title="">
														
														<span class="figure-mask">
																<a href="images/screenshots/img3-big.png" rel="prettyPhoto[shots]" title="You can add caption to shots"><span>view</span></a>
														</span>
                </figure> <!-- end image 3 -->

                <!-- image 4 -->
                <figure>

                    <img src="/images/screenshots/doge/img4.png" alt="" title="">
														
														<span class="figure-mask">
																<a href="images/screenshots/img4-big.png" rel="prettyPhoto[shots]" title="You can add caption to shots"><span>view</span></a>
														</span>
                </figure> <!-- end image 4 -->

            </div> <!-- end screenshots grid row 1 -->

            <!-- screenshots grid row 2 -->
            <div class="screenshots-row animate" data-animate="bounceInRight">

                <!-- image 1 -->
                <figure>

                    <img src="/images/screenshots/doge/img5.png" alt="" title="">
														
														<span class="figure-mask">
																<a href="images/screenshots/img5-big.png" rel="prettyPhoto[shots]" title="You can add caption to shots"><span>view</span></a>
														</span>
                </figure> <!-- end image 1 -->

                <!-- image 2 -->
                <figure>

                    <img src="/images/screenshots/doge/img6.png" alt="" title="">
														
														<span class="figure-mask">
																<a href="images/screenshots/img6-big.png" rel="prettyPhoto[shots]" title="You can add caption to shots"><span>view</span></a>
														</span>
                </figure> <!-- end image 2 -->

                <!-- image 3 -->
                <figure>

                    <img src="/images/screenshots/doge/img7.png" alt="" title="">
														
														<span class="figure-mask">
																<a href="images/screenshots/img7-big.png" rel="prettyPhoto[shots]" title="You can add caption to shots"><span>view</span></a>
														</span>
                </figure> <!-- end image 3 -->

                <!-- image 4 -->
                <figure>

                    <img src="/images/screenshots/doge/img8.png" alt="" title="">
														
														<span class="figure-mask">
																<a href="images/screenshots/img8-big.png" rel="prettyPhoto[shots]" title="You can add caption to shots"><span>view</span></a>
														</span>
                </figure> <!-- end image 4 -->

            </div> <!-- end screenshots grid row 2 -->
        </section> <!-- end screenshots section -->
</div>
</section>
