
{% block title %}
{{ headTitle('Games - ') }}
{% endblock %}








<ul id="js-news" class="js-hidden">
    <li class="news-item"><a href="#">Licensing now available.</a></li>
    <li class="news-item"><a href="#">SHMUP: 8-bit carnage</a></li>
</ul>

<div class="white">
<div class="span7">
   <div class="slider-wrapper theme-bar">
            <div id="slider" class="nivoSlider">
                <a href="http://play.svenardo.com/chess">
                <img src="/thumb.php?src=/images/chess_sharp.png&w=400&h=175&sz=2" data-thumb="/thumb.php?src=/images/chess_sharp.png&w=75&h=75" alt="" title="The timeless classics reinvented"/>
                </a>
                <a href="http://play.svenardo.com/carnage">
                <img src="/thumb.php?src=/images/carnage_sharp.png&w=400&h=175&sz=2" data-thumb="/thumb.php?src=/images/carnage_sharp.png&w=75&h=75" alt="" title="Non-stop shooter action"/>
                </a>

                <a href="http://play.svenardo.com/thelabyrinth">
                <img src="/thumb.php?src=/images/labyrinth_sharp.png&w=400&h=175&sz=2" data-thumb="/thumb.php?src=/images/labyrinth_sharp.png&w=75&h=75" alt="" title="#labyrinth"/>
                </a>

                
                <a href="http://play.svenardo.com/pacman">
                <img src="/thumb.php?src=/images/pacs.png&w=400&h=175&sz=2" data-thumb="/thumb.php?src=/images/pacs.png&w=75&h=75" alt="" title="A faithful remake of the original classic"/>
                </a>
            </div>
            <div id="labyrinth" class="nivo-html-caption">
                <strong>BE</strong> the <em>canvas</em>! <a href="http://play.svenardo.com/thelabyrinth">Play here </a>. 
            </div>
        </div>
        </center>
</div>
<div id="rightbar">
</div>


<div class="span11"></div>


      <div class="span7">

<div class="navbar navbar">
      <div class="navbar-inner">
        <div class="navbar-container">
              
            <ul class="nav gamenav">
                    <li id="1"><a href="#latestgames">LATEST GAMES</a></li>
                    <li id="2"><a href="#mostpopular">MOST POPULAR</a></li>
                    <li id="3"><a href="#randomgames">RANDOM GAMES</a></li>
            </ul>
        </div>
      </div>
    </div>

<!--
{% for i in 1..3 %}

<div class="one-third menulink" id="game{{i}}">
<h5>Alpha Force</h5> 
<img src="/thumb.php?src=/images/alphaforce.png" class="gamethumb">
<span class="gametext">
Fight the aliens in this modern shoot 'em up.
</span>
</div>

{% endfor %}
-->

<div class="one-third menulink" id="game1">
<h5>8-bit Carnage</h5> 
<a href="http://play.svenardo.com/carnage">
<img src="/thumb.php?src=/images/carnage_sharp.png" class="gamethumb">
</a>
<span class="gametext">
Fight the aliens in this retro shoot 'em up.
</span>
</div>


<div class="one-third menulink" id="game2">
<h5>Realtime Chess</h5> 
<a href="http://play.svenardo.com/chess">
<img src="/thumb.php?src=/images/chess_sharp.png" class="gamethumb">
</a>
<span class="gametext">
    Play Chess without turns.
</span>
</div>


<div class="one-third menulink" id="game3">
<h5>Dr Who Squared</h5> 
<a href="http://play.svenardo.com/drwhosquared">
<img src="/thumb.php?src=/images/drwhosquared_sharp.png" class="gamethumb">
</a>
<span class="gametext">
    Match the doctors.
</span>
</div>


</div>




<div id="orientation">

</div>

<div class="hidden" id="rightbarcontent">
<h3>This is the arcade</h3>
<h5>From remakes of old classics to original games</h5>

If you're looking to license any of the games, even have them remade with custom
graphcis and intro screens, please contact me at <em>sven (@) svenardo.com</em>.

<h5>Now go play some games</h5>
</div>

