@import url('../../fonts/permanent-marker-fontfacekit/stylesheet.css');
@import url('../../fonts/Droid-Sans-fontfacekit/stylesheet.css');

blockquote, p, form, fieldset, table, ol, ul, pre {
    font-size: 0.85em;
    line-height: 1.5em;
}
