<div class="hero-unit">
    <h1>About me</h1>
    <p>



    </p>

</div>



<div class="row">

    <div class="span4"  align="center">
        <img src="/thumb.php?src=images/profilbilde.jpg&h=150" class="img-polaroid" >
    </div>

    <div class="span8">
     	Thanks for wanting to learn more about me.
    </div>

</div>
