<div class="hero-unit">
    <h1>About me</h1>
    <p>



    </p>

</div>



<div class="row">

    <div class="span4"  align="center">
        <img src="/thumb.php?src=images/profilbilde.jpg&h=150" class="img-polaroid" >
    </div>

    <div class="span8">
     	Thanks for wanting to learn more about me.
    </div>

</div>


<div class="row">

<div class="span6">
I'm a developer working at <a href="http://www.sol.no">Scandinavia Online</a>. During the day I work with exotic stuff like PHP, SQL, Javascript, Python and various other programming languages and systems that is required to develop and maintain one Norway's largest web sites.
</div>
</div>
