<div class="hero-unit">
    <h1>About me</h1>
    <p>
     	Thanks for wanting to learn more about me.
    </p>

</div>




<div class="row">

<div class="span6">
 <img src="/thumb.php?src=images/profilbilde.jpg&h=150" class="img-polaroid pull-left" >
I'm a developer working at <a href="http://www.sol.no">Scandinavia Online</a>. During the day I work with exotic stuff like PHP, Python, Objective-C, Java and various other programming languages and systems that is required to develop and maintain one Norway's largest web sites.
</div>

<div class="span6">
During the night, I go wild and work with advanced computer algorithms and ... web games. While I actually care a lot about developing exciting business software, developing games is an exciting pastime that provides a nice challenge. Additionally, I get to use a bit of my creative side. 
</div>
</div>
