
<div class="row">
<div class="span12">
<h1>Donate to Svenardo Arcade</h1>

If you want to make donation to Svenardo Arcade, please click the button below. All your donation funds is ready to serve you back in the form new games here on the arcade, and in licensing content (art, music, sound effects) for use in games.
</div>
</div>


<div class="row">
<div class="span12">
	<center>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="2FM7TBHHWCG6Q">
<input type="image" src="https://www.paypalobjects.com/en_US/NO/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<center>
</div>
</div>


<div class="row">
<div class="span12">
<h2>Thank You Very Much</h2>
</div>
</div>
