
<div class="row">

<div class="span7">
<iframe src="logo/index.html" scrolling='no'></iframe>
</div>



<div class="span4">
<img src="thumb.php?src=/images/profilbilde.jpg&w=100" class="img-polaroid pull-right leftmargin">
<h1 class="lead">All in a days code</h1>
Welcome to svenardo.com. My name is Sven Anders and I run this web site. Thanks for stopping by. 
</div>


<!--
<div class="linebreak">&nbsp;</div>
-->

</div>

 
<div class="row">

    <div class="span4">
        <h2>Code</h2>
        <p>I have a lot of experience as a developer working with PHP, SQL/Nosql, Python, Javascript etc. Basically, the whole web stack. On my blog I share my experiences and thoughts, and quite often, some code.</p>
        <p><a class="btn btn-info" href="/blog" target="_self">Read more &raquo;</a></p>
    </div>

    <div class="span4">
        <h2>My games</h2>
        <p>I have a passion for writing code. Extending my knowledge by developing games is both a fun and
        	interesting hobby I have decided to pursue. On these pages you will find a selection
        	of my finished games.</p>
        <p><a class="btn btn-info" href="/games" target="_self">Play games &raquo;</a></p>
   </div>

   <div class="span4">
       <h2>This blog</h2>
        <p>Svenardo.com is developed for Zend Framework 2 and is available as an open source project on Github. I decided
        to make it open source so that others can learn from me (and show me stuff where I could do better) </p>
        <p><a class="btn btn-info" href="https://github.com/svenanders/zf2blog" target="_self">Fork me on Github &raquo;</a></p>
   </div>
</div>

