<img class="loader" src="/images/loader.gif">

<a href="#" id="testloader">Test loader</a>

{% include basePath('application/content/stuff.twig') %}
    

    
    
<hr>
DEBUG:
{{userAgent}}

userAgent: {{userAgent|raw}}
<hr>





{% set someString = 'someRandomCamelCaseString' %}
{{ someString|rot13}}
{{ tester }}

<hr>
