<img class="loader" src="/images/loader.gif">

<a href="#" id="testloader">Test loader</a>

{% include basePath('application/content/stuff.twig') %}
    

    
    
<h3>DEBUG</h3>
<p>
mobile: {{mobileDevice|var_dump}}
</p>
<p>
	{{userAgent}}
</p>