
<div class="row">

<div class="span12"><center>
<iframe src="logo/index.html" scrolling='no'></iframe>
</center>
</div>


<!--
<div class="span4">
<img src="thumb.php?src=/images/profilbilde.jpg&w=100" class="img-polaroid pull-right leftmargin">
<h1 class="lead">Svenardo.com</h1>
Welcome to svenardo.com. My name is Sven Anders and I run this web site. Thanks for stopping by. 
</div>
-->

</div>


<div class="row">
    <div class="span12">
        <h2>Svenardo Arcade</h2>
        <a href="/games"><img src="thumb.php?src=/images/whopac.png&h=100&w=100" class="img-polaroid pull-right"></a>
        <p>Visit the arcade. Play fun and award winning games! On display is Jetman Junior - an old school platformer with lasers, dynamites and caves-  Pacman (clone of the original) and Pacman: Doctor Who edition (get chased by Daleks in a Tardis shaped maze), and various other games./p>
        <p><a class="btn btn-info" href="/games" target="_self">Go the the arcade &raquo;</a></p>
   </div>

</div>

 
<div class="row">

    <div class="span12">
        <h2>Thoughts on coding</h2>
        <p>I have a lot of experience as a developer working with PHP, SQL/Nosql, Python, Javascript etc. Basically, the whole web stack. On my blog I share my experiences and thoughts, and quite often, some code.</p>
        <p><a class="btn btn-info" href="/blog" target="_self">Read more &raquo;</a></p>
    </div>
</div>


<div class="row">

   <div class="span12">
       <h2>Fork this blog</h2>
        <a href="https://github.com/svenanders/zf2blog"><img src="thumb.php?src=/images/github-logo-the-octocat.png&h=100" class="img-rounded pull-right leftmargin"></a>
        <p>Svenardo.com is developed with Zend Framework 2 and Twig, and is available as an open source project on Github. Please fork and use this code for your own blog (and let me know if you find it useful). </p>
        <p><a class="btn btn-info" href="https://github.com/svenanders/zf2blog" target="_self">Fork me on Github &raquo;</a></p>
   </div>
</div>

