




  <div id="alineup">
  <h1>The Labyrinth</h1>
  <div id="labyrinth" style="background-image:url(/thumb.php?src=/images/labyrinth_sharp.png&w=680&h=250);">
    <span id="head1"></span>
    <a href="http://play.svenardo.com/jetmanjr/">
    <div class="abutton">
      <div style="background-image:url(/thumb.php?src=/images/playbutton.png&w=50&h=50);"></div>
      <span>play</span>
    </div>
    </a>  
  </div>
  </div>
    
  <div style="text-align:center;">
    <br>
    Rotate the board to navigate the ball to the goal field.  
  </div>


  <div id="alineup">
  <h1>Jetman Jr</h1>
  <div id="jetmanjr" style="background-image:url(/thumb.php?src=/images/jetmanjr_main.png&w=680&h=250);">
    <span id="head1"></span>
    <a href="http://play.svenardo.com/jetmanjr/">
    <div class="abutton">
      <div style="background-image:url(/thumb.php?src=/images/playbutton.png&w=50&h=50);"></div>
      <span>play</span>
    </div>
    </a>  
  </div>
  </div>
    
  <div style="text-align:center;">
    <br>
    Jetman jr is a classic platformer with a lot of action, jet packs and dynamite. 
  </div>

  <div id="alineup">
  <h1>8-bit Carnage</h1>
  <div id="carnage" style="background-image:url(/thumb.php?src=/images/carnage_sharp.png&w=680&h=250);">
    <span id="head1"></span>
    <a href="http://play.svenardo.com/carnage/">
    <div class="abutton">
      <div style="background-image:url(/thumb.php?src=/images/playbutton.png&w=50&h=50);"></div>
      <span>play</span>
    </div>
    </a>  
  </div>
  </div>
    
  <div style="text-align:center;">
    <br>
    8-bit carnage is an 8-bit(ish) shooter with a tremendous amount of action. Can you survive 50 waves? Thought not.
    
  </div>



  <div id="alineup">
  <h1>The Doctor Who Pac-man game</h1>
  <div id="whopac" style="background-image:url(/thumb.php?src=/images/whopac_main.png&w=680&h=250);">
    <span id="head1"></span>
    <a href="http://play.svenardo.com/whopac/">
    <div class="abutton">
      <div style="background-image:url(/thumb.php?src=/images/playbutton.png&w=50&h=50);"></div>
      <span>play</span>
    </div>
    </a>  
  </div>
  </div>
    
  <div style="text-align:center;">
    <br>
    The original Pac-man, only with a Fez-equipped Pac-man and Daleks instead of ghosts.
  </div>


  <div id="alineup">
  <h1>Doctor Who Squared</h1>
  <div id="whosquared" style="background-image:url(/thumb.php?src=/images/drwhosquared_sharp.png&w=680&h=250);">
    <span id="head1"></span>
    <a href="http://play.svenardo.com/drwhosquared/">
    <div class="abutton">
      <div style="background-image:url(/thumb.php?src=/images/playbutton.png&w=50&h=50);"></div>
      <span>play</span>
    </div>
    </a>  
  </div>
  </div>
    
  <div style="text-align:center;">
    <br>
    A Match-3 game with Dr. Who characters. Match 3 or more, and score big. 
  </div>




</div>
</div>

</div>




<div style="background:#fff; overflow:hidden;">
  <div style="width:800px; margin:30px auto 50px auto; font-size:18px; text-align:center">

    <div style="overflow:hidden; width:170px; margin: 0 auto;">

      <!-- FACEBOOK -->
      <div style="float:left; margin-right:5px">
        <div id="fb-root"></div>
        <div class="fb-like" data-href="http://www.svenardo.com" data-send="false" data-layout="box_count" data-width="450" data-show-faces="false"></div>
      </div>

      <!-- TWITTER -->
      <div style="float:left; margin-right:5px">
        <a href="https://twitter.com/share" class="twitter-share-button" id="twitter_thing"
          data-url="http://www.svenardo.com" 
          data-text="Check out this collection HTML5 games!" 
          data-count="vertical"></a>
      </div>

      <!-- GOOGLE -->
      <div style="float:left">
        <g:plusone size="tall"></g:plusone>
      </div>

    </div>


  </div>
</div>

<!-- Facebook -->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, "script", "facebook-jssdk"));</script>

<!-- Twitter -->
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

<!-- Google -->
<script type="text/javascript">
</script>



</body>  

</div>

<div id="modal_overlay" style="display:none">
  <div onclick="hideModal()"></div>
  <div>
    <iframe
      id="modal_iframe"
      width="800" height="450"
      src=""  
      frameborder="0" allowfullscreen>
    </iframe>
    <div id="modal_close" onclick="hideModal()">
      CLOSE
    </div>
  </div>
</div>