<section class="wrapper">
    <div class="container">

    <!-- features section -->
    <section id="features" class="features row nav-link">

    <!-- heading - write some descriptional text -->
    <div class="heading col-lg-12">
        <span class="top-line"></span>
      <!--  <span>iOS games</span>-->
        <h2>Slick gaming experiences</h2>
        <p>Built with love</p>
        <span class="bottom-line"></span>
    </div>

    <!-- spotlight description -->
    <div class="spotlight-dessc col-md-3 col-sm-3 animate" data-animate="bounceInLeft">
        <h3>Video trailer</h3>
        <p>
           A preview of some of my first games. Most of these
            are written in javascript and made for the browser.
        </p>


    </div> <!-- end spotlight description -->

    <!-- spotlight image -->
    <figure class="col-md-7 col-sm-7 col-md-offset-2 col-sm-offset-2 animate" data-animate="fadeInUpBig">
        <iframe width="853" height="480" src="https://www.youtube-nocookie.com/embed/PPboKUV1Opc?rel=0&html5=1" allowfullscreen></iframe>
    </figure>

</section> <!-- end spotlight section -->




<!-- spotlight section -->
<section id="spot-2" class="spotlight row">

    <!-- slider wrapper - background pourpose -->
    <div class="slider-wrapper col-md-7 col-sm-7 animate" data-animate="fadeInUpBig">
        <!-- slider -->
        <div id="slider-tablet" class="carousel slide" data-ride="carousel">

            <!-- slider indicators -->
            <ol class="carousel-indicators">
                <li data-target="#slider-tablet" data-slide-to="0" class="active"></li>
                <li data-target="#slider-tablet" data-slide-to="1"></li>
                <li data-target="#slider-tablet" data-slide-to="2"></li>
            </ol>

            <!-- slider slides -->
            <div class="carousel-inner">
                <div class="item active">

                    <!-- slider image 1 -->
                    <img src="images/slider/img1.jpg" alt="" title="">
                </div>

                <!-- slider image 2 -->
                <div class="item">
                    <img src="images/slider/img2.jpg" alt="" title="">

                    <!-- slider caption -->
                    <div class="carousel-caption">
                        <p>Play as black or white</p>
                    </div>

                </div>

                <!-- slider image 3 -->
                <div class="item">

                    <!-- slider image 3 -->
                    <img src="images/slider/img3.jpg" alt="" title="">

                    <!-- slider caption -->
                    <div class="carousel-caption">
                        <p>Every game lasts less than a minute</p>
                    </div>
                </div>

            </div> <!-- end slider slides -->

            <!-- slider controls - prev, next buttons -->
            <!--
                    <a class="left carousel-control" href="#slider-tablet" data-slide="prev"><span class="fa fa-angle-left"></span></a>
                    <a class="right carousel-control" href="#slider-tablet" data-slide="next"><span class="fa fa-angle-right"></span></a>
            -->


        </div> <!-- end slider -->
    </div> <!-- end slider wrapper -->

    <!-- spotlight description -->
    <div class="spotlight-desc col-md-3 col-sm-3 col-md-offset-2 col-sm-offset-2 animate" data-animate="bounceInRight">
        <span class="top-line"></span>

        <h3>Realtime Chess</h3>
        <p>
            <br>Real time Chess. Forget about turns, and play this non-stop, adrenaline rush chess game.
            <br><br>
            Praise for the game: <a href="http://www.kotaku.com.au/2013/08/this-real-time-chess-game-is-not-for-the-faint-of-heart/">
                This Real-Time Chess Game Is Not For The Faint Of Heart</a> [kotaku.com.au], <a href="http://indiestatik.com/2013/07/29/this-is-non-turn-based-chess-for-the-impatient/">This Is Non-Turn-Based Chess For The Impatient</a> [indiestatik.com], <a href="http://indiegames.com/2013/08/browser_pick_youve_never_playe.html">You've never played chess like this before</a> [indiegames.com], <a href="http://oujevipo.fr/index.php?option=com_content&view=article&id=979:chess&catid=35:5-minutes&Itemid=53">Chess [french review]</a> [oujevipo.fr], <a href="http://www.pixfans.com/chess-rts/">Chess RTS</a> [pixfans.com].</p>

        </p>

        <!-- spotlight download icons -->
        <ul class="list-unstyled list-inline download-icon">
            <li><a class="fa fa-apple" href="https://itunes.apple.com/us/app/realtime-chess-new-chess-experience/id687203498?mt=8"></a></li>
        </ul>

    </div> <!-- end spotlight description -->
</section> <!-- end spotlight section -->




<!-- spotlight section -->
<section id="spot-3" class="spotlight row">

    <!-- spotlight image -->
    <figure class="col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1 animate" data-animate="fadeInUpBig">
        <img src="images/spot-3.png" class="img-responsive" alt="" title="">
    </figure>

    <!-- spotlight description -->
    <div class="spotlight-desc col-md-3 col-sm-3 col-md-offset-1 col-sm-offset-1 animate" data-animate="bounceInRight">
        <span class="top-line"></span>

        <h3>Rocket Doge</h3>
        <p>
            Doge haz got a rocket. Time to fly.
        </p>

        <!-- spotlight download icons -->
        <ul class="list-unstyled list-inline download-icon">
            <li><a class="fa fa-apple" href="https://itunes.apple.com/us/app/rocketdoge/id813052886?l=nb&mt=8"></a></li>
        </ul>

    </div> <!-- end spotlight description -->
</section> <!-- end spotlight section -->

<!-- services section -->
<section id="services" class="row nav-link">

    <!-- heading - write some descriptional text -->
    <div class="heading col-lg-12">
        <span class="top-line"></span>

        <span>Something for everyone</span>
        <h2>A selection of HTML5 games that run in your browser</h2>

        <span class="bottom-line"></span>
    </div>


    <!-- services row - left alignment -->
    <section class="service-row service animate" data-animate="bounceInUp">

        <!-- service 1 -->
        <div class="col-md-4 col-sm-4">

            <!-- service 1 icon -->
            <figure class="fa fa-html5"></figure>

            <div class="service-desc">
                <span class="top-line"></span>

                <!-- service 1 description -->
                <h4>8-bit Carnage</h4>
                <p>8-bit carnage is an 8-bit(ish) shooter with a tremendous amount of action. Can you survive 50 waves?
                    <br/>
                <a href="http://play.svenardo.com/carnage/">Play here</a></p>
            </div>

        </div> <!-- end service 1 -->

        <!-- service 2 -->
        <div class="col-md-4 col-sm-4">

            <!-- service 2 icon -->
            <figure class="fa fa-html5"></figure>

            <!-- service 2 description -->
            <div class="service-desc">
                <span class="top-line"></span>
                <h4>The Doctor Who Pacman game</h4>
                <p>The original Pac-man, only with a Fez-equipped Pac-man and Daleks instead of ghosts.
                    <br/>
                    <a href="http://play.svenardo.com/carnage/">Play here</a></p>
            </div>
        </div> <!-- end service 2 -->

        <!-- service 3 -->
        <div class="col-md-4 col-sm-4">

            <!-- service 3 icon -->
            <figure class="fa fa-html5"></figure>

            <!-- service 3 description -->
            <div class="service-desc">
                <span class="top-line"></span>
                <h4>Jetman Jr</h4>
                <p>Jetman jr is a critically acclaimed  platformer with a lot of action, jet packs and dynamite.
                    <br/>
                <a href="http://play.svenardo.com/jetmanjr/">Play here</a></p>
            </div>
        </div> <!-- end service 3 -->

    </section> <!-- end services row - left alignment -->

</section> <!-- end services section -->

</div>
</section>