
  <!-- SPLASH INFO -->
<!--<script type="text/javascript" src="js/game.js"></script>-->
  <div id="splash">
    <div id="splash_bg">
      <!-- The Title -->
      <div id="splash_title">
       SVENARDO.COM
      </div>
    </div>

    <br/>
    <div id="splash_info">

      <!-- The Title -->
      <!-- Informational Video -->
      <div id="video_container">
        <iframe
          id="video"
          src="https://www.youtube-nocookie.com/embed/PPboKUV1Opc?rel=0&html5=1"
          frameborder="0" allowfullscreen>
        </iframe>
      </div>

      <!-- Funding Progress Bar -->
      <div id="splash_space">
        
      </div>

      <!-- Pledge Button -->
   <!--
      <div id="splash_cta" onclick="swingTo('#pledge')">BUY</div>
-->
    </div>

 
  </div>
